.bill {
  padding: 0 50px;
}

.billNo {
  font-family: "Aldrich";
}

.footer {
  border-top: 1px solid rgba(228, 233, 237, 1);
  position: relative;
  padding: 0 50px !important;
  overflow-x: hidden;
}

.footerLogo {
  display: inline-flex;
}

.footerRight img {
  width: 35%;
  position: relative;
  top: 10px;
}

.footerRight {
  position: relative;
  overflow-x: hidden;
  text-align: right;
}

.footerRight p span {
  position: relative;
  font-size: 0.85rem;
  opacity: 0.8;
  right: 10px;
  top: 10px;
}

.footerLogo a {
  text-decoration: none;
  color: #208F4A;
  font-size: 0.85rem;
  display: grid;
  align-items: center;
}

.footerLogo a:hover {
  text-decoration: underline;
  color: #208F4A;
}

.footerLogo a:active {
  opacity: 0.8;
}

@media print {
  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .noPrint {
    display: none;
  }

  .topBar {
    padding-top: 10px;
  }

  .main {
    width: 100vw;
    overflow-x: hidden;
  }

  .slantMain {
    padding-bottom: 55%;
  }

  .sec1 {
    padding: 30px 0;
  }

  .footerRight img {
    width: 25%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}