.pHead {
  text-transform: uppercase;
  font-weight: 700;
}

.sec1 {
  padding-bottom: 30px;
}

.sec1Left {
  /* position: relative; */
}

.secPContent {
  position: relative;
}

.sec1Right {
  text-align: right;
  position: relative;
  float: right;
}

.imgBar {
  width: 90px;
	border: 1px solid;
	width: 100px;
    border: 1px solid;
    border-radius: 2px;
    border-width: 3px;
    border-color: #218f4a;
}

.interSec {
  background-color: #208F4A;
  position: relative;
  color: white;
  padding-top: 15.5px;
}

.interSecContent {
  position: relative;
}

.interSecContent p {
  text-transform: uppercase;
  font-weight: 700;
}

.interSecDet {
  position: relative;
  right: 0;
  left: 0;
  margin-bottom: 30px;
}

.interSecDetContent {
  padding: 7px 0;
  position: relative;
  display: flex;
}

#ksh {
  color: #208F4A;
}